html,
body {
    margin: 0;
    padding: 0;
    background-color: #282828;
}

canvas {
    display: block;
}

.flex-container {
    flex-direction: row;
    display: flex;
    height: 100%;
}

iframe {
    padding: 20px;
    border: none;
    height: 100vh;
}

.network {
    width: 50%;
}

.map {
    width: 50%;
}

body::-webkit-scrollbar {
    display: none;
}